@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    max-width: 100%;
}

footer {
    color: grey;
}

svg.icon {
    fill: grey;
    width: 32px;
    height: 32px;
    stroke: grey;
    display: inline-block;
    margin: 10px;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 600;
}

main div.title>p:first-of-type {
    /* top spacing hack for image wrapped in a <p>*/
    font-size: 0;
}

main div.title img {
    width: 100vw;
    height: 80vw;
    object-fit: cover;
}

main .title .header {
    margin-top: -2.8rem;
}

main .title .header h1+p {
    margin-top: 2rem;
}

main>div.default {
    padding: 40px 20px;
}

main>div.default.stages {
    background-color: white;
    color: black;
}

main>div.default {
    position: relative;
}

main>div.default {
    display: grid;
    grid-template-areas: 'overlay';
}

main>div.default>* {
    grid-area: overlay;
}

main>div.default .bg-image {
    overflow: hidden;
    opacity: 0.4;
    padding-top: 40px;
    background-size: cover;
    background-clip: content-box;
    width: 70%;
    padding-left: 30%;
}

main>div.default.stages .bg-image {
    padding-left: 0%;
}

main>div.default .overlay {
    /* overlay hack as z-order seems to be influenced by opacity */
    opacity: 0.99;
}



main h1 {
    font-size: 1.5rem;
}

main p {
    font-size: 1.2rem;
    font-weight: 300;

}

main a:any-link {
    background-color: white;
    color: black;
    padding: 20px 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin: 20px 0;
    display: inline-block;
}

main>div.stages a:any-link {
    background-color: black;
    color: white;
}

footer {
    padding: 20px;
}

footer h1 {
    font-size: 1.5rem;
}

@media (min-width: 750px) {

    main .title .header {
        position: absolute;
        left: 0;
        padding: 100px;
        top: 200px;
        width: 100%;
        box-sizing: border-box;
    }

    main h1 {
        font-size: 3rem;
    }

    main p {
        font-size: 1.7rem;
    }

    main div.title img {
        width: 50vw;
        height: 800px;
        margin-left: 50vw;
    }
    
    main>div.default .bg-image {
        padding-left: 0;
        justify-self: center;
        padding-top: 80px
    }    

    main>div.default .overlay {
        max-width: 900px;
        margin: auto;
    }

    main>div.default .overlay p {
        width: 50%;
        margin-left: 50%; 
        text-align: left;   
    }
    
    main>div.default.stages .overlay p {
        width: 50%;
        margin-left: 0;
    }
}